.like-button{
    width: 21px;
    height: 19px;
    margin: 31px 21px 31px 0px;
    transition: opacity 0.35s ease;
    padding: 0px;
    border: none;
    background-color: transparent;
}

.like-button:active{
    background-image: url(../../image/like-button_active.svg);
    background-repeat: no-repeat;
}

.like-button:hover{
    cursor: url(../../image/cursor.png), pointer;
    opacity: 0.6;
}
