.edit-button{
    width: 24px;
    height: 24px;
    padding: 0px;
    border: none;
    margin: 15px 0px 34px 18px;
    transition: opacity 0.35s ease;
    background-color: transparent;
}

.edit-button:hover{
    cursor: url(../../image/cursor.png), pointer;
    opacity: 0.6;
}