.edit-button{
    width: 24px;
    height: 24px;
    background-image: url(../../image/edit-button.svg);
    background-repeat: no-repeat;
    margin: 15px 0px 34px 18px;
    transition: opacity 0.35s ease;
}

.edit-button:hover{
    cursor: url(../../image/cursor.png), pointer;
    opacity: 0.6;
}