.header__line{
    max-width: 880px;
    opacity: 0.3;
    margin: 41px 0px 0px;
    border: 1px #545454 solid;
}

@media screen and (max-width: 767px){
    .header__line{
        max-width: 320px;
    }
}